
<div class="tech-btm">

	<p>Teknoji yazılım ve diğer bloklar </p>
	<form action="/NewLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone Ol">
	</form>

</div>