@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kullanıcı Rol Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı</th>
        <th>Rol ata</th>
    </tr>
    @foreach (var item in Model)
   {
       <tr>
          <th>@item.UserName</th>
          <th><a href="/Admin/AdminRol/AssignRole/@item.Id" class="btn btn-outline-warning" > Rol Ata</a></th>
       </tr>
   }
</table>
<a>Rol Listesine Dön</a>