@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
   {
       <tr>
        <th>@item.CategoryId</th>
        <th>@item.CategoryName</th>
        <th> <a href="" class="btn btn-info">Pasif Yap</a> </th>
        <th> <a href="" class="btn btn-outline-warning">Aktif Yap</a> </th>
        <th> <a href="" class="btn btn-success">Düzenle</a> </th>
    </tr>
   }
</table>
